
<app-home *ngIf="isAdmin"></app-home>


<div *ngIf="!isAdmin" >
  <h4>You are not Authorized to Access This Page</h4>
</div>

<div class="card" style="margin-left: 17%;margin-top: 5%;margin-right: 25%;" *ngIf="isAdmin">
<table class="table table-striped table-large" style="width: 1000px;">
  <thead class="thead-inverse thead-dark">
    <tr>
      <th>Company Name</th>
      <th>Stock Exchanges</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies; let idx=index">
      <td>{{ company.name }}</td>
      <td>{{ company.stockExchangeNames}}</td>
      <td>{{ company.description}}</td>
      <td> <a class = "btn btn-warning btn-sm" (click)="editCompany(company)" >edit</a> </td> 
      <td><button class="btn btn-danger btn-sm" (click)="onDeleteClick(company.id,idx)"> delete </button></td>
    </tr>
  </tbody>
</table>
</div>

<button [routerLink]="['/home']" routerLinkActive="router-link-active" *ngIf="!isAdmin" class="btn btn-primary">Click to redirect to the Homepage</button>

<button [routerLink]="['/create-company']" routerLinkActive="router-link-active" type="button" class="btn btn-primary" id="create" *ngIf="isAdmin">
  Add new Company
</button>