
<app-home></app-home>


<div class="card" style="width: 50rem; text-align: center; margin-left: 25%;" >
    <div class="card-body">
        <h5 class="card-title">Comparison Charts</h5>
<form #compare = "ngForm">
    <div class="form-group">
        <label>Select Stock Exchange</label>
      <input type="text" class="form-control" id="selectstockexchange" placeholder="Stock Exchange Name" name="stockexchangename" #stockexchangename="ngModel" [(ngModel)]="comparison.stockExchangeName">
    </div>
    <br>
    <div class="form-group">
        <input type="text" class="form-control" id="companyname" placeholder="Company Code" name="companycode" #companycode="ngModel" [(ngModel)]="comparison.code">
      </div>
      <br>
      <div class="form-group">
          <label>From period (dd-MM-yyyy)</label>
        <input type="date" class="form-control" id="fromperiod" placeholder="" name="from" #from="ngModel" [(ngModel)]="comparison.fromPeriod">
      </div>
      <br>
      <div class="form-group">
        <label>To period (dd-MM-yyyy)</label>
      <input type="date" class="form-control" id="toperiod" placeholder="" name="to" #to="ngModel" [(ngModel)]="comparison.toPeriod">
    </div>
      <br>
      <div class="form-group">
        <label>Specify Periodicity</label>
      <input type="number" class="form-control" id="periodicity" placeholder="" name="periodicity" #periodicity="ngModel" [(ngModel)]="comparison.periodicity">
    </div>
      <br>
    <button type="submit" value="submit" class="btn btn-primary" (click)="onClickSubmit(compare.value)">Submit</button>
    <br>
    <button type="submit" value="submit" class= "btn btn-warning" (click)="onClickCompare(compare.value)">comp</button>
  </form>
</div>
</div>

<div class="chart-wrapper w-50 p-20" style="margin-left: 25%;">
  <canvas baseChart 
      [datasets]="chartData" 
      [labels]="chartLabels"  
      [legend]="true" 
       [chartType]="'line'" 
       [options]="chartOptions"
      >
  </canvas>
</div>   
 




