
<app-home></app-home>


<div class="card" style="width: 50rem; text-align: center; margin-left: 25%;" >
    <div class="card-body">
        <h5 class="card-title">Comparison Charts</h5>
<form>
    <div class="form-group">
        <label>Select Stock Exchange</label>
      <input type="text" class="form-control" id="selectstockexchange" placeholder="">
    </div>
    <br>
    <div class="form-group">
        <input type="text" class="form-control" id="companyname" placeholder="Company Name">
      </div>
      <br>
      <div class="form-group">
          <label>From period (dd-MM-YYYY)</label>
        <input type="date" class="form-control" id="fromperiod" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>To period (dd-MM-YYYY)</label>
      <input type="date" class="form-control" id="toperiod" placeholder="">
    </div>
      <br>
      <div class="form-group">
        <label>Specify Periodicity</label>
      <input type="number" class="form-control" id="periodicity" placeholder="">
    </div>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
