<nav class="navbar">
    <!-- Navbar content -->
    <ul class="nav nav-pills">
        <li class="navbar-text text-primary">
        <h5>Stock Market Charting</h5> 
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a routerLink="/import-data" class="nav-link" href="#">Import Data</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a routerLink="/companies" class="nav-link">Companies</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
            <a routerLink="/sectors" class="nav-link" href="#">Sectors</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a routerLink="/stock-exchanges" class="nav-link" href="#">Stock Exchanges</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ipos" class="nav-link" href="#">IPOs</a>
          </li>
          <li class="nav-item">
            <a routerLink="/comparison-charts" class="nav-link" href="#">Comparison</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link" href="#"><app-authentication-button></app-authentication-button></a>
          </li>
            <li class="nav-item text-dark" style="margin-top: 15px;margin-left: 200px;" *ngIf="auth.user$ | async as user">
              Logged in as {{user.name}} 
      </ul>
  </nav>