<app-home *ngIf="isAdmin"></app-home>
<button [routerLink]="['/companies']" routerLinkActive="router-link-active" class="btn btn-primary" *ngIf="isAdmin">Back to List of Companies</button>

<div *ngIf="!isAdmin">
  <h4>You are not Authorized to access this page</h4>
  <button class="btn btn-primary" [routerLink]="['/home']" routerLinkActive="router-link-active" >
  Click to redirect to Homepage
  </button>
</div>



<div class="card" style="width: 50rem; text-align: center; margin-left: 25%;"*ngIf="isAdmin" >
    <div class="card-body">
        <h5 class="card-title">Enter the Details of the Company</h5>
<form #addcompany = "ngForm">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Company Name" #name="ngModel"  [(ngModel)]="company.name">
    </div>
    <br>
    <div class="form-group">
        <input type="text"  class="form-control" name="code" placeholder="Company Code"  #code="ngModel" [(ngModel)]="company.code">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="turnover" placeholder="Company Turnover"  #turnover="ngModel" [(ngModel)]="company.turnover">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="ceo" placeholder="Chief Executive Officer"  #ceo="ngModel" [(ngModel)]="company.ceo">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="boardOfDirectors" placeholder="Board of Directors(separated by comma)"  #boardOfDirectors="ngModel" [(ngModel)]="company.boardOfDirectors">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="stockExchangeNames" placeholder="Stock Exchanges(separated by comma)"  #stockExchangeNames="ngModel" [(ngModel)]="company.stockExchangeNames">
      </div>
      <br>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="BSE" id="flexCheckDefault" name="bse" #bse="ngModel" [(ngModel)]="BSE">
        <label class="form-check-label" for="flexCheckDefault">
          BSE
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="NSE" id="flexCheckChecked" name="nse" #nse="ngModel" [(ngModel)]="NSE">
        <label class="form-check-label" for="flexCheckChecked">
          NSE
        </label>
      </div>
      <br>

      <div class="form-group">
        <input type="text" class="form-control" name="sectorName" placeholder="Sector Name"  #sectorName="ngModel" [(ngModel)]="company.sectorName">
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" name="description" placeholder="Company Description"  #description="ngModel" [(ngModel)]="company.description">
      </div>
      <br>
      <div *ngIf="!isEdit"><button type="submit" class="form-control btn btn-primary" value="submit" (click)="onClickSubmit(addcompany.value)">Submit</button></div>
      <div *ngIf="isEdit"><button type="submit" class="form-control btn btn-warning" value="submit" (click)="onClickUpdate(addcompany.value)">Update</button></div>
  </form>
</div>
</div>