<app-home></app-home>
<button [routerLink]="['/sectors']" routerLinkActive="router-link-active" class="btn btn-primary">
    Back to List of Sectors
</button>

<div class="card" style="width: 50rem; text-align: center; margin-left: 25%;" >
    <div class="card-body">
        <h5 class="card-title">Add Sector Details</h5>
<form #addsector="ngForm" (ngSubmit)="onClickSubmit(addsector.value)">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Sector Name" #name = "ngModel" [(ngModel)]="sector.name">
    </div>
    <br>

    <div class="form-group">
        <input type="text" class="form-control" name="description" placeholder="Sector Description" #description = "ngModel" [(ngModel)]="sector.description">
      </div>
      <br>
    
      <button type="submit" value = "submit"class="btn btn-primary">Submit</button>
  </form>
</div>
</div>